.calendar {
    padding: 20px 20px;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.calendar__header-logo {
    font-size: 36px;
}

.calendar__header-nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.calendar__header-nav li {
    font-size: 24px;
}

.calendar__event-btn {
    display: flex;
    justify-content: center;
}

.calendar__btn {
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid #1890ff;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.calendar__btn:hover {
    background-color: #1890ff;
}

.calendar__background-modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.calendar__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: beige;
}

.calendar__form-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}